<html>
    <head>
        <title>Alternate Handlebars layout</title>
    </head>
    <style>
        main {
            color: red;
            font-size: large;
            font-weight: bold;
        }
    </style>
    <meta charset="utf-8">
    <body>
        {{{body}}}
    </body>
</html>